<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="../css/forgot-password.css">
</head>
<body>
    <main>
        <form onsubmit="forgotPassword(event)">
            <div class="form-control">
                <label>Email:</label>
                <input id="Email" type="email"  required/>
                <button id="forgot" type="submit">Send link</button>
                <button id="login" class="login" type="reset">Login</button>
            </div>
        </form>  
    </main>
    <script>
        document.getElementById('login').addEventListener('click',()=>{
            window.location.href='/'
        })
        document.getElementById('forgot').addEventListener('click', async function forgotPassword(e){
            e.preventDefault()
            try{
                const email = document.getElementById('Email').value; 
                const response= await fetch('http://localhost:3000/password/forgotpassword',{
                    method: 'POST',
                    body: JSON.stringify({
                        email: email
                    }),
                    headers: {
                        'Content-Type': 'application/json' 
                    }
                })
                const data= await response.json()
                alert(data.remarks)
                window.location.href= '/'
            }catch(err){
                console.log(err)
            }
        })
    </script>
</body>
</html>