<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="stylesheet" href="/css/sign-up.css">
</head>
<body>
    <header class="main-header">
        <h1>Login</h1>
    </header>
    <main id='main'>
        <form onsubmit="login(event)" onreset="signup(event)">
            <div class="form-control">
                <label>Email:</label>
                <input id="Email" type="email"  required/>
                <label>Password:</label>
                <input id="password" type="password"  required />
                <button id="login" type="submit">Login</button>
                <button id="signup" class="signup" type="reset">Register new user</button>
            </div>
        </form>  
    </main>
    <script>
        const bttn= document.getElementById('login')
        bttn.addEventListener("click", async function login(e){
            
            e.preventDefault()
            try{
                const email=document.getElementById('Email').value;
                const password=document.getElementById('password').value 
                const response= await fetch('http://localhost:3000/user/login',{
                    method: 'POST',
                    body: JSON.stringify({
                        email: email,
                        password: password
                    }),
                    headers: {
                        'Content-Type': 'application/json' 
                    }
                })
                const data= await response.json()
                if(data && data.remarks){
                    alert(data.remarks)
                    
                }
                if(data.success===true){
                    localStorage.setItem('token',data.token)
                    window.location.href='./add-expense.html'
                }
            }catch(err){
                console.log(err)
            }
        
        })
        const button=document.getElementById('signup')
        button.addEventListener('click', function signup(e){
            e.preventDefault()
            window.location.href='./sign-up.html'
        })
    </script>
</body>
</html>