<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new password</title>
    <link rel="stylesheet" href="/css/new-password.css">
</head>
<body>
    <main>
        <form>
            <div class="form-control" onsubmit="updatePassword(event)">
                <label>New Password:</label>
                <input id="password" type="password"  required/>
                <label>Confirm Password:</label>
                <input id="C_password" type="password"  required/>
                <button id="update" type="submit">Update Password</button>
            </div>
        </form>  
    </main>
    <script>
        document.getElementById('update').addEventListener('click', async function updatePassword(e){
            e.preventDefault()
            try{
                const path = window.location.pathname; 
                const parts = path.split('/'); 
                const Id = parts[parts.length - 1];
                
                const updatedPassword= document.getElementById('password').value;
                const C_updatedPassword= document.getElementById('C_password').value;
                if(updatedPassword===C_updatedPassword){
                    const response= await fetch(`http://localhost:3000/password/forgotpassword/${Id}`,{
                        method: 'POST',
                        body: JSON.stringify({
                            newPassword: updatedPassword,
                        }),
                        headers: {
                            'Content-Type': 'application/json' 
                        }
                    })
                    const data = await response.json()
                    alert(data.remarks)
                    window.location.href='/'
                }else{
                    alert('Please enter same password')
                } 
            }catch(err){
                console.log(err)
            }
        })
    </script>
</body>
</html>