<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/sign-up.css">
</head>
<body>
    <header class="main-header">
        <h1>Sign Up</h1>
    </header>
    <main>
        <form action="/user/signup" method="POST" >
            <div class="form-control">
                <label>Name:</label>
                <input id="title" type="text" name="name" required />
                <label>Email:</label>
                <input id="author" type="email" name="email" required/>
                <label>Password:</label>
                <input id="description" type="password" name="password" required />
                <button type="submit">Sign up</button>
            </div>
        </form>
</body>
</html>